@use "./variables" as v;
// Box Model => Border Box
html {
  box-sizing: border-box;
  //   Tema del Scroll
  scroll-behavior: smooth;
  font-size: 62.5%;
  //   hack rem 1rem = 10px
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: v.$color_primario;
  font-family: v.$fuente_principal;
}
img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 4rem;
}
