
// COLORES
$color_primario: #9c27b0;
$color_primario_oscuro: #89119d;
$color_secundario: #ffce00;
$color_secundario_oscuro: rgb(233, 287, 2);
$color_blanco: #ffffff;
$color_negro: #000000;

// TIPOGRAFIA
$fuente_principal: "Staatliches", sans-serif;

// TAMANOS RESPONSIVE
